#calendar td {
    cursor: pointer;
}

#header {
    cursor: pointer;
}

#header a {
    font-size: x-large;
}

#notesDiv {
    width: 300px;
    float: right;
    margin-top: 30px;
}

#Notes {
    overflow: scroll;
    background: burlywood;
    border: ridge;
    border-color: black;
    height: 500px;
    padding: 10px;
}

.Notes {
    border: ridge;
    margin-bottom: 10px;
    background: lightgrey;
    padding: 5px;
    word-wrap: break-word;
}

#addNote {
    text-align: center;
    border: ridge;
    background: white;
    font-size: large;
    margin: 5px;
    cursor: pointer;
}

.Notes a {
    min-width: 70px;
    text-align: center;
    cursor: pointer;
}

.edit {
    float: left;
    background: white;
    border: ridge;
}

.remove {
    float: right;
    background: white;
    border: ridge;
}

#calendarHead {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}

#title {
    float: left;
    padding-left: 40px;
    padding-top: 10px;
    font-size: xx-large;
}

#userInfo {
    float: right;
    padding-top: 10px;
    padding-right: 5px;
    font-size: large;
}

#userInfo a {
    float: right;
}

#calendarDiv {
    display: block;
    float: left;
}

#content {
    height: 600px;
}

div {
    min-height: 25px;
}

.editable {
    background: white;
}

.cellId {
    font-size: xx-large;
}