<div id="calendarHead">
    <section id="title">
        <a>Calendar Notes</a>
    </section>
    <section id="userInfo">
        <a>You are not Logged In</a><br>
        <a href="<?= $this->application_root ?>/">Log In</a>
    </section>
</div>
