<div id="calendarHead">
    <section id="title">
        <a>Calendar Notes</a>
    </section>
    <section id="userInfo">
        <a>Welcome <?= $_SESSION['username'] ?> #<?= $_SESSION['userid'] ?></a><br>
        <a href="<?= $this->application_root ?>/">LogOut</a>
    </section>
</div>

<div id="content">
    <div id="calendarDiv">
        <table id="calendar" cellpadding="0" cellspacing="40">
            <tr>
                <th id="header" colspan="7">
                    <img id="leftarrow" src="/images/arrow_left.png" alt="<" style="width:30px;height:30px;float:left">
                    <a id="reset">May2011</a>
                    <img id="rightarrow" src="/images/arrow_right.png" alt=">"
                         style="width:30px;height:30px;float:right">
                </th>
            </tr>
            <tr>
                <th>S</th>
                <th>M</th>
                <th>T</th>
                <th>W</th>
                <th>T</th>
                <th>F</th>
                <th>S</th>
            </tr>
            <tr>
                <td class="cellId">1</td>
                <td class="cellId">2</td>
                <td class="cellId">3</td>
                <td class="cellId">4</td>
                <td class="cellId">5</td>
                <td class="cellId">6</td>
                <td class="cellId">7</td>
            </tr>
            <tr>
                <td class="cellId">8</td>
                <td class="cellId">9</td>
                <td class="cellId">10</td>
                <td class="cellId">11</td>
                <td class="cellId">12</td>
                <td class="cellId">13</td>
                <td class="cellId">14</td>
            </tr>
            <tr>
                <td class="cellId">15</td>
                <td class="cellId">16</td>
                <td class="cellId">17</td>
                <td class="cellId">18</td>
                <td class="cellId">19</td>
                <td class="cellId">20</td>
                <td class="cellId">21</td>
            </tr>
            <tr>
                <td class="cellId">22</td>
                <td class="cellId">23</td>
                <td class="cellId">24</td>
                <td class="cellId">25</td>
                <td class="cellId">26</td>
                <td class="cellId">27</td>
                <td class="cellId">28</td>
            </tr>
            <tr>
                <td class="cellId">29</td>
                <td class="cellId">30</td>
                <td class="cellId">31</td>
                <td class="cellId"></td>
                <td class="cellId"></td>
                <td class="cellId"></td>
                <td class="cellId"></td>
            </tr>
            <tr>
                <td class="cellId"></td>
                <td class="cellId"></td>
                <td class="cellId"></td>
                <td class="cellId"></td>
                <td class="cellId"></td>
                <td class="cellId"></td>
                <td class="cellId"></td>
            </tr>
        </table>
    </div>
    <div id="notesDiv">
        <a id="selectedDay"></a><br>

        <div id="addNote">
            <a>Add Note</a>
        </div>
        <div id="Notes">

        </div>
    </div>
</div>

<script type="text/javascript">
var calendarDay = new Date();
var selectedDay = calendarDay;
var dd = calendarDay.getDate();
var mm = calendarDay.getMonth() + 1;
var yyyy = calendarDay.getFullYear();
var startDay = calendarDay.getDay() + 1;
var endDay = new Date(yyyy, mm, 0).getDate();

//Month offset for non month days
var mmOffset = 0;

//array for month names
var monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"];

//array for day names
var dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
$(function () {

    //refresh notes
    UpdateDay();

    //When a calendar day is clicked, update the Notes
    $('.cellId').click(function (event) {
        event.preventDefault();
        event.stopPropagation();
        var text = $(this).text();

        //determine actual month using the offset
        if (text < 15 && $(this).hasClass('offset')) {
            calendarDay.setMonth(calendarDay.getMonth() + 1 - mmOffset);
            mmOffset = 1;
        }
        else if (text > 15 && $(this).hasClass('offset')) {
            calendarDay.setMonth(calendarDay.getMonth() - 1 - mmOffset);
            mmOffset = -1;
        }
        else {
            calendarDay.setMonth(calendarDay.getMonth() - mmOffset);
            mmOffset = 0;
        }


        calendarDay.setDate(text);
        $('#debug2').html("mmOffset: " + mmOffset + " Day: " + calendarDay);
        $('#debug1').html("Selected Day: " + text);
        UpdateDay();

        //add a 0 pad to sql_date day.  should actually do this for the month too
        var sql_date;
        if (dd < 10) {
            sql_date = yyyy + "-" + (mm + 1) + "-0" + dd;
        }
        else {
            sql_date = yyyy + "-" + (mm + 1) + "-" + dd;
        }
        var data = {'date': sql_date};

        // call the showNotes function and post some parameters for it to use
        $.ajax(
            {
                url: "/calendar/showNotes",
                type: "POST",
                data: $.param(data),
                success: function (data, textStatus, jqXHR) {
                    $("#Notes").html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#Notes").html('<pre><code>AJAX Request Failed<br/> textStatus=' + textStatus + ', errorThrown=' + errorThrown + '</code></pre>');
                }
            });

    });

    //handles left arrow click to move the calendar a month back
    $('#leftarrow').click(function () {
        calendarDay.setMonth(calendarDay.getMonth() - 1 - mmOffset);
        calendarDay.setDate(1);
        mmOffset = 0;
        $('#debug2').html("Selected Day: " + "1");
        $('#debug1').html("mmOffset: " + mmOffset + " Day: " + calendarDay);
        UpdateDay();
    });

    //handles right arrow click to move the calendar a month forward
    $('#rightarrow').click(function () {
        calendarDay.setMonth(calendarDay.getMonth() + 1 - mmOffset);
        calendarDay.setDate(1);
        mmOffset = 0;
        $('#debug2').html("Selected Day: " + "1");
        $('#debug1').html("mmOffset: " + mmOffset + " Day: " + calendarDay);
        UpdateDay();
    });

    //resets the month based current day
    $('#reset').dblclick(function () {
        calendarDay = new Date();
        calendarDay.setDate(1);
        mmOffset = 0;

        //was used for debugging for when these html elements existed
        $('#debug2').html("Selected Day: " + "1");
        $('#debug1').html("mmOffset: " + mmOffset + " Day: " + calendarDay);
        UpdateDay();
    });

    //handles addNote button to create a note dummy for the user to edit and save
    $('#addNote').click(function () {
        if (!$('#Note0').length) {
            $('#Notes').prepend(
                '<div id="Note0" class="Notes">' +
                '<div id="contentNote0" contenteditable="true" class="editable">' +
                '<h3 id="noteTitle" >Title Me! Limit 20</h3>' +
                '<p id="noteBody" >A body is preferred too! Limit 254</p>' +
                '</div>' +
                '<div>' +
                '<a class="edit">Save</a>' +
                '<a class="remove">Remove</a>' +
                '</div>' +
                '</div>'
            );
        }

        //handels edit button
        $('.edit').click(function () {
            var title = $(this).parent("div").siblings("div").find("h3").text();
            var body = $(this).parent("div").siblings("div").find("p").text();
            var id = $(this).parent("div").parent("div").attr("id").replace("Note", "");

            var sql_date;
            if (dd < 10) {
                sql_date = yyyy + "-" + (mm + 1) + "-0" + dd;
            }
            else {
                sql_date = yyyy + "-" + (mm + 1) + "-" + dd;
            }

            //find the correct element and toggle editable
            var $div = $(this).parent("div").siblings("div"), isEditable = $div.is('.editable');
            $div.prop('contenteditable', !isEditable).toggleClass('editable');
            if (!isEditable) {
                $(this).text("Save");
            }
            else {
                $(this).text("Edit");
                var data = {'title': title, 'body': body, 'id': id, 'date': sql_date};

                //call the calendar updateNote function to insert/update a note for the current day/user
                $.ajax(
                    {
                        url: "/calendar/updateNote",
                        type: "POST",
                        data: $.param(data),
                        success: function (data, textStatus, jqXHR) {
                            $("#Notes").html(data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $("#Notes").html('<pre><code>AJAX Request Failed<br/> textStatus=' + textStatus + ', errorThrown=' + errorThrown + '</code></pre>');
                        }
                    });
            }
        });


        //remove a note
        $('.remove').click(function () {
            var id = $(this).parent("div").parent("div").attr("id").replace("Note", "");

            var sql_date;
            if (dd < 10) {
                sql_date = yyyy + "-" + (mm + 1) + "-0" + dd;
            }
            else {
                sql_date = yyyy + "-" + (mm + 1) + "-" + dd;
            }
            var data = {'id': id, 'date': sql_date};
            $.ajax(
                {
                    url: "/calendar/removeNote",
                    type: "POST",
                    data: $.param(data),
                    success: function (data, textStatus, jqXHR) {
                        $("#Notes").html(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#Notes").html('<pre><code>AJAX Request Failed<br/> textStatus=' + textStatus + ', errorThrown=' + errorThrown + '</code></pre>');
                    }
                });
        });


        // prevent the enter key from being used on an editable html element.  Otherwise the client will create additional elements inside editable
        $('.Notes').keydown(function (e) {
            // trap the return key being pressed
            if (e.keyCode === 13) {
                // insert 2 br tags (if only one br tag is inserted the cursor won't go to the next line)
                document.execCommand('insertHTML', false, '');
                // prevent the default behaviour of return key pressed
                return false;
            }
        });

    });

    //updates the current day including if the month is changed to update the calendar numbers
    function UpdateDay() {
        dd = calendarDay.getDate();
        mm = calendarDay.getMonth();
        yyyy = calendarDay.getFullYear();
        startDay = -new Date(yyyy, mm, 1).getDay() + 1;
        endDay = new Date(yyyy, mm + 1, 0).getDate();
        $('#selectedDay').html(dayNames[(-startDay + dd) % 7] + ", " + monthNames[mm] + " " + dd + ", " + yyyy);
        if (mmOffset == 0) {
            $('#header a').html(monthNames[mm] + " " + yyyy);
            $('#calendar .cellId').each(function () {
                if (startDay < 1 || startDay > endDay) {
                    $(this).html(new Date(yyyy, mm, startDay).getDate());
                    $(this).css('opacity', '0.5');
                    $(this).addClass('offset');
                }
                else {
                    $(this).html(startDay);
                    $(this).css('opacity', '1.0');
                    $(this).removeClass('offset');
                }
                startDay += 1;
            });
        }

    }
});


</script>
