<?
foreach ($_SESSION['noteArray'] as $note) {
    ?>
    <?= $note->html ?><?
}
?>


<script>
    // scripts used in the mycalendar.phtml page, but need re applied when refreshing the Notes
    $('.edit').click(function () {
        var title = $(this).parent("div").siblings("div").find("h3").text();
        var body = $(this).parent("div").siblings("div").find("p").text();
        var id = $(this).parent("div").parent("div").attr("id").replace("Note", "");

        var sql_date;
        if (dd < 10) {
            sql_date = yyyy + "-" + (mm + 1) + "-0" + dd;
        }
        else {
            sql_date = yyyy + "-" + (mm + 1) + "-" + dd;
        }

        var $div = $(this).parent("div").siblings("div"), isEditable = $div.is('.editable');
        $div.prop('contenteditable', !isEditable).toggleClass('editable');
        if (!isEditable) {
            $(this).text("Save");
        }
        else {
            $(this).text("Edit");
            var data = {'title': title, 'body': body, 'id': id, 'date': sql_date};
            $.ajax(
                {
                    url: "/calendar/updateNote",
                    type: "POST",
                    data: $.param(data),
                    success: function (data, textStatus, jqXHR) {
                        $("#Notes").html(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#Notes").html('<pre><code>AJAX Request Failed<br/> textStatus=' + textStatus + ', errorThrown=' + errorThrown + '</code></pre>');
                    }
                });
        }
    });

    $('.remove').click(function () {
        var id = $(this).parent("div").parent("div").attr("id").replace("Note", "");

        var sql_date;
        if (dd < 10) {
            sql_date = yyyy + "-" + (mm + 1) + "-0" + dd;
        }
        else {
            sql_date = yyyy + "-" + (mm + 1) + "-" + dd;
        }
        var data = {'id': id, 'date': sql_date};
        $.ajax(
            {
                url: "/calendar/removeNote",
                type: "POST",
                data: $.param(data),
                success: function (data, textStatus, jqXHR) {
                    $("#Notes").html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#Notes").html('<pre><code>AJAX Request Failed<br/> textStatus=' + textStatus + ', errorThrown=' + errorThrown + '</code></pre>');
                }
            });
    });

    $('.Notes').keydown(function (e) {
        // trap the return key being pressed
        if (e.keyCode === 13) {
            // insert 2 br tags (if only one br tag is inserted the cursor won't go to the next line)
            document.execCommand('insertHTML', false, '');
            // prevent the default behaviour of return key pressed
            return false;
        }
    });
</script>
