<hgroup>
    <h1>Calendar Notes</h1>

    <h2>Home</h2>
</hgroup>

<form name="ajaxform" id="ajaxform" action="/index/login" method="post">
    E-mail: <input type="email" name="email" id="email" required><br>
    Password: <input type="password" name="password" id="password" required><br><br>
</form>
<button class="btn btn-info" id="simple-post">Login</button>
<div id="simple-msg"></div>
<br>

<a>Not a Member?</a><br>
<a href="<?= $this->application_root ?>/signup">Sign Up</a><br>

<script>
    $("#simple-post").click(function () {
        //validate
        $("#ajaxform").submit(function (e) {
            var postData = $(this).serializeArray();

            var formURL = $(this).attr("action");
            $.ajax(
                {
                    url: formURL,
                    type: "POST",
                    data: postData,
                    success: function (data, textStatus, jqXHR) {
                        $("#simple-msg").html('<pre><code>' + data + '</code></pre>');
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#simple-msg").html('<pre><code>AJAX Request Failed<br/> textStatus=' + textStatus + ', errorThrown=' + errorThrown + '</code></pre>');
                    }
                });
            e.preventDefault();	//STOP default action
            //e.unbind();
        });

        $("#ajaxform").submit(); //SUBMIT FORM
    });
</script>


<!--<--><? //=$this->foo ?>
<!--<br>-->
<!--<a href="--><? //=$this->application_root?><!--/contact/form">Contact Form</a>-->
