<hgroup>
    <h1>Calendar Notes</h1>

    <h2>Sign Up</h2>
</hgroup>

<form name="ajaxform" id="ajaxform" action="/signup/post" method="post">
    E-mail: <input type="email" name="email" id="email" required><br>
    Password: <input type="password" name="password" id="password" required><br><br>
    <a>Confirm: </a><br>
    E-mail: <input type="email" name="cemail" id="cemail" required><br>
    Password: <input type="password" name="cpassword" id="cpassword" required<br>
</form>
<button class="btn btn-info" id="simple-post">Sign Up</button>
<div id="simple-msg"></div>
<br>
<a href="<?= $this->application_root ?>/">Back to Home</a>

<script>
    $("#simple-post").click(function () {
        //validate
        $("#ajaxform").submit(function (e) {
            var postData = $(this).serializeArray();
            var end, missing = "";

            var formURL = $(this).attr("action");
            $.ajax(
                {
                    url: formURL,
                    type: "POST",
                    data: postData,
                    success: function (data, textStatus, jqXHR) {
                        alert('Success!');
                        $("#simple-msg").html('<pre><code>' + data + '</code></pre>');

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#simple-msg").html('<pre><code>AJAX Request Failed<br/> textStatus=' + textStatus + ', errorThrown=' + errorThrown + '</code></pre>');
                    }
                });
            e.preventDefault();	//STOP default action
            e.unbind();
        });

        $("#ajaxform").submit(); //SUBMIT FORM
    });
</script>
